*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    
    background-image: url(../imag/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass.jpg);
    background-size: cover;
}
.container{
    background-image: url(../imag/rm218-bb-07.jpg);
    background-size: cover;
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.img img,canvas{
    max-width: 45vw;
    max-height: 60vh;
    border-radius: 6px;
}
.upload input{
    display: none;
}
.upload label{
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
    border-radius: 3px;
}
.filters ul, .filters ul li {
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
}
.filters ul li label{
    color: #fff;
}
.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-between;
}
.filters ul li a, span{
    color: #fff;
    padding: 10px 20px;
    background: rgb(247, 129, 2);
    border-radius: 3px;
    cursor: pointer;
}
@media screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .img img,canvas{
        max-width: 80vw;
    }
}




